{% extends 'layouts/base.html' %}

{% block title %} Detalle campaña {{ campaign.name }} {% endblock title %}

{% block content %}

<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">Campaña <span style="text-transform: uppercase;">{{ campaign.name }}</span></h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="{% url 'client_list' %}">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="{% url 'campaign_list' %}">Listado campañas</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href=""></a>Campaña {{ campaign.name }}</a>
            </li>
        </ul>
    </div>
    
    <h1>{{ campaign.name }}</h1>
    <p>{{ campaign.description }} </p>
</div>



{% endblock content %}