{% extends 'layouts/base.html' %}
{% load humanize %}

{% block title %}Crear cliente{% endblock title %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Administración clientes</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="{% url 'management_home' %}">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="{% url 'management_client_list' %}">Administración clientes</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href=""></a><b>{{ client.name }}</b></a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <h4 class="card-title text-primary">{{ client.name }}</h4>
                        <p>
                            <span class="text-muted h6"><b>UUID:</b> {{client.uuid}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-xl-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <h4 class="card-title text-success">Ejercicios</h4>
                        <h1>3</h1>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xl-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <h4 class="card-title text-primary">Colaboradores</h4>
                        <h1>{{client.getColaborators|length|intcomma}}</h1>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-xl-6">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <h4 class="card-title text-danger">Última tarea</h4>
                        <p>

                            <span class="badge {% if client.getLastTask.status == 'SUCCESS' %}badge-success{% elif client.getLastTask.status == 'FAILED' %}badge-danger{% elif client.getLastTask.status == 'STARTED' %}badge-primary{% else %}badge-warning{% endif %}">{{ client.getLastTask.status }}</span>
                            - {{ client.getLastTask.result }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabla usuarios -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            Listado de usuarios ({{client.getColaborators|length}})
                            <!--<div class="form-group">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control" name="q">
                                </form>
                            </div>-->
                            <a href="{% url 'management_client_colaborator_add' client_pk=client.pk %}"><button class="btn btn-success pull-right"><span class="btn-label"><i class="fas fa-user-plus"></i></span> Agregar usuario</button></a>
                            <a href="{% url 'management_client_addXLS' client_pk=client.pk %}"><button class="btn btn-dark pull-right mr-2"><span class="btn-label"><i class="fas fa-file-excel"></i></span> Agregar masivamente</button></a> 
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% for colaborator in colaborator_pagination %}
                            <div class="col-xl-3 col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <b><a href="{% url 'management_client_colaborator_edit' client_pk=client.pk colaborator_pk=colaborator.pk %}">{{ colaborator.first_name}} {{ colaborator.last_name}}</b></a><br/>
                                        <span class="text-muted">&lt;{{ colaborator.email }}&gt;</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            <div class="col-12">
                                <div class="pagination">
                                    <span class="step-links">
                                        {% if colaborator_pagination.has_previous %}
                                            <a href="?page=1">[1]</a>
                                            <a href="?page={{ colaborator_pagination.previous_page_number }}">[<]</a>
                                        {% endif %}
                                
                                        <span class="current">
                                            Page {{ colaborator_pagination.number }} of {{ colaborator_pagination.paginator.num_pages }}.
                                        </span>
                                
                                        {% if colaborator_pagination.has_next %}
                                            <a href="?page={{ colaborator_pagination.next_page_number }}">[>]</a>
                                            <a href="?page={{ colaborator_pagination.paginator.num_pages }}">[{{ colaborator_pagination.paginator.num_pages }}]</a>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>

{% endblock content %}