{% extends 'layouts/base.html' %}
{% load humanize %}

{% block title %}Crear cliente{% endblock title %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Administración clientes</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="{% url 'management_home' %}">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="{% url 'management_client_list' %}">Administración clientes</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href=""></a><b>{{ client.name }}</b></a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <h4 class="card-title text-primary">{{ client.name }}</h4>
                        <p>
                            <span class="text-muted h6"><b>UUID:</b> {{client.uuid}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-xl-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <h4 class="card-title text-success">Ejercicios</h4>
                        <h1>3</h1>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xl-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <h4 class="card-title text-primary">Colaboradores</h4>
                        <h1>{{client.getColaborators|length|intcomma}}</h1>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-xl-6">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <h4 class="card-title text-danger">Última tarea</h4>
                        <p>

                            <span class="badge {% if client.getLastTask.status == 'SUCCESS' %}badge-success{% elif client.getLastTask.status == 'FAILED' %}badge-danger{% elif client.getLastTask.status == 'STARTED' %}badge-primary{% else %}badge-warning{% endif %}">{{ client.getLastTask.status }}</span>
                            - {{ client.getLastTask.result }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabla usuarios -->
        <div class="row">
            <div class="col-12">
                <div id="accordion">

                    <!-- Usuarios -->
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <a href="" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="true" aria-controls="collapseUsers">
                                    [+] Listado de usuarios ({{client.getColaborators|length}})
                                </a>
                                
                                <!--<div class="form-group">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <input type="text" class="form-control" name="q">
                                    </form>
                                </div>-->
                                <a href="{% url 'management_client_xls_export' client_pk=client.pk %}"><button class="btn btn-primary pull-right"><span class="btn-label"><i class="fas fa-cloud-download-alt"></i></span></button></a>
                                <a href="{% url 'management_client_colaborator_add' client_pk=client.pk %}"><button class="btn btn-success pull-right mr-2"><span class="btn-label"><i class="fas fa-user-plus"></i></span> Agregar usuario</button></a>
                                <a href="{% url 'management_client_addXLS' client_pk=client.pk %}"><button class="btn btn-dark pull-right mr-2"><span class="btn-label"><i class="fas fa-file-excel"></i></span> Agregar masivamente</button></a> 

                                
                                
                            </div>
                        </div>
                        <div id="collapseUsers" class="collapse" aria-labelledby="collapseUsers" data-parent="#accordion">
                            <div class="card-body">
                                <div class="row">
                                    {% for colaborator in colaborator_pagination %}
                                    <div class="col-xl-3 col-lg-6 col-md-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <b><a href="{% url 'management_client_colaborator_edit' client_pk=client.pk colaborator_pk=colaborator.pk %}">{{ colaborator.first_name}} {{ colaborator.last_name}}</b></a><br/>
                                                <span class="text-muted">&lt;{{ colaborator.email }}&gt;</span>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    <div class="col-12">
                                        <div class="pagination">
                                            <span class="step-links">
                                                {% if colaborator_pagination.has_previous %}
                                                    <a href="?page=1">[1]</a>
                                                    <a href="?page={{ colaborator_pagination.previous_page_number }}">[<]</a>
                                                {% endif %}
                                        
                                                <span class="current">
                                                    Page {{ colaborator_pagination.number }} of {{ colaborator_pagination.paginator.num_pages }}.
                                                </span>
                                        
                                                {% if colaborator_pagination.has_next %}
                                                    <a href="?page={{ colaborator_pagination.next_page_number }}">[>]</a>
                                                    <a href="?page={{ colaborator_pagination.paginator.num_pages }}">[{{ colaborator_pagination.paginator.num_pages }}]</a>
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Ejercicios -->
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <a href="" data-toggle="collapse" data-target="#collapseEx" aria-expanded="true" aria-controls="collapseEx">
                                    [+] Ejercicios ({{client.getExercises|length}})
                                </a>

                                <a href="{% url 'management_client_exercise_add' client_pk=client.pk %}"><button class="btn btn-success pull-right"><span class="btn-label"><i class="fas fa-crosshairs"></i></span> Agregar ejercicio</button></a>
   
                            </div>
                        </div>
                        <div id="collapseEx" class="collapse show" aria-labelledby="collapseEx" data-parent="#accordion">
                            <div class="card-body">

                                <div class="row">
                                    {% for ejercicio in client.getExercises %}
                                    <div class="col-xl-6 col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <a href="{% url 'management_client_exercise_edit' client_pk=client.pk exercise_pk=ejercicio.pk %}">{{ ejercicio.uuid }}</a>


                                                    <a href="{% url 'management_client_campaign_add' client_pk=client.pk exercise_pk=ejercicio.pk %}"><button class="btn btn-success pull-right mr-2"><span class="btn-label"><i class="far fa-plus-square"></i></span></button></a> 
                                                    <a href="{% url 'management_client_exercise_distribute_users' client_pk=client.pk exercise_pk=ejercicio.pk %}"><button class="btn btn-secondary pull-right mr-2"><span class="btn-label"><i class="fas fa-drafting-compass"></i></span></button></a> 
                                                </div>
                                                <span class="badge badge-primary">{{ ejercicio.get_status_display }}</span>
                                                {{ ejercicio.planification_date }}
                                            </div>
                                            <div class="card-body table-responsive col-12">
        
                                                <table class="table table-hover table-head-bg-info" id="table_module">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col" width="50%">Campaña</th>
                                                            <th scope="col" width="10%"><span class="fas fa-child" data-toggle="tooltip" data-placement="top" title="Inscritos"></span></th>
                                                            <th scope="col" width="10%"><span class="fab fa-telegram-plane" data-toggle="tooltip" data-placement="top" title="Enviados"></span></th>
                                                            <th scope="col" width="10%"><span class="fas fa-envelope-open" data-toggle="tooltip" data-placement="top" title="Abiertos"></span></th>
                                                            <th scope="col" width="10%"><span class="fas fa-hand-pointer" data-toggle="tooltip" data-placement="top" title="Clickeados"></span></th>
                                                            <th scope="col" width="10%"><span class="fas fa-crosshairs" data-toggle="tooltip" data-placement="top" title="Comprometidos"></span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% if ejercicio.getCampanas.count > 0 %}
                                                        {% for campana in ejercicio.getCampanas %}
                                                        <tr style="text-align: center;">
                                                            <td style="text-align: left !important;">
                                                                <a href="{% url 'management_client_campaign_edit' client_pk=client.pk exercise_pk=ejercicio.pk campaign_pk=campana.pk %}">{{ campana }}</a><br/>
                                                                <small>{{ campana.pk }}</small>
                                                            </td>
                                                            <td>{{ campana.getSigned|length }}</td>
                                                            <td>{{ campana.getSent|length }}</td>
                                                            <td>{{ campana.getOpened|length }}</td>
                                                            <td>{{ campana.getClicked|length }}</td>
                                                            <td>{{ campana.getCompromised|length }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                        {% else %}
                                                        <tr>
                                                            <td colspan="6" style="text-align: center;">-- <i>Sin campañas</i> --</td>
                                                        </tr>
                                                        {% endif %}
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>

{% endblock content %}

{% block javascript %}
<script>
    $(function () {$('[data-toggle="tooltip"]').tooltip()})
</script>
{% endblock %}