		<div class="main-header">
			
			<!-- Logo Header -->

				<div class="logo-header" data-background-color="">	

				<a href="/" class="logo">
					<img src="/static/assets/img/banner.png" width="160px" height="40px" alt="navbar brand" class="navbar-brand">
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="icon-menu"></i>
					</span>
				</button>
				<button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
				<div class="nav-toggle">
					<button class="btn btn-toggle toggle-sidebar">
						<i class="icon-menu"></i>
					</button>
				</div>
			</div>
			<!-- End Logo Header -->

			<!-- Navbar Header -->
			<nav class="navbar navbar-header navbar-expand-lg" data-background-color="">
				
				{% if user.is_authenticated %}

					<div class="container-fluid">
						<div class="collapse" id="search-nav">
							<h1 class="lead">{{ page_title }}</h1>
						</div>

						<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">	

							<li class="nav-item">
								<a class="nav-link" href="{% url 'redirector' %}">
								  <i class="fas fa-home"></i>
								  <p class="d-lg-none d-md-block">
									Stats
								  </p>
								</a>
							</li>

							<li class="nav-item dropdown hidden-caret">

								<a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								  <i class="fas fa-user-alt"></i> {{ request.user.extend.email }}
								</a>

								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile" id="night-mode">
									<p class="dropdown-item changeTopBarColor changeSideBarColor changeBackgroundColor changeLogoHeaderColor" data-color="dark" >Modo oscuro<i id="iconnight" class="fas fa-toggle-off fa-lg" style="padding-left: 8px;"></i></p>
									<a class="dropdown-item" href="{% url 'logout' %}" >Cerrar sesión</a>
								</div>

							</li>

						</ul>
					</div>

				{% endif %}
				
			</nav>
			<!-- End Navbar -->

		</div>

		{% block javascripts %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script>
				$(window).ready(function() {
				$('#night-mode').toggleClass(localStorage.toggled);
				if (localStorage.getItem('toggled')=="dark") {
					$(this).find('#sidebarnight').attr('data-background-color', "dark");
					$(this).find('#logonight').attr('data-background-color', "dark");
					$(this).find('#navnight').attr('data-background-color', "dark");
					$(this).find('#bodynight').attr('data-background-color', "dark");
					$(this).find('#iconnight').toggleClass('fa-toggle-off fa-toggle-on');
					$(this).find('#night-mode, p').attr('data-color', function(index, attr){return attr == "white" ? "dark" : "white";});
				}
				if (localStorage.getItem('toggled')==""){
					$(this).find('#logonight').attr('data-background-color', "white");
					$(this).find('#sidebarnight').attr('data-background-color', "white");
					$(this).find('#navnight').attr('data-background-color', "white");
					$(this).find('#bodynight').attr('data-background-color', "white");
				}
			});
			$('#night-mode').click(function(){
				if(localStorage.toggled != 'dark'){
					$('#night-mode, p').toggleClass('dark', true);
					localStorage.toggled = "dark";
				}else {
   	 				$('#night-mode, p').toggleClass('dark', false);
    				localStorage.toggled = "";
				}	
				$(this).find('#iconnight').toggleClass('fa-toggle-off fa-toggle-on');
				$(this).find('p').attr('data-color', function(index, attr){return attr == "white" ? "dark" : "white";});
			});
		</script>
		{% endblock javascripts %}