{% extends 'layouts/base.html' %}

{% block title %} Administración clientes {% endblock title %}

{% block content %}

<div class="page-inner">
    
    <a href="{% url 'management_add_client' %}"><button class="btn btn-success pull-right"><span class="btn-label"><i class="fa fa-plus"></i></span>Crear cliente</button></a> 

    <div class="page-header">
        <h4 class="page-title">Administración clientes</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="{% url 'management_home' %}">
                    <i class="flaticon-home"></i>
                </a> 
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href=""><b>Administración clientes</b></a>
            </li>
        </ul>
        
    </div>

    <div class="row">
        {% for client in client_list %}
            {% if not client.disabled %}
                <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="card-header" style="background: {{ client.main_color }};">
                            <div class="profile-picture">
                                <div class="avatar avatar-xl">
                                    <img src="{{ client.logo.url }}" alt="{{ client.logo }}" class="avatar-img rounded-circle">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="user-profile text-center">
                                <div class="name"><a href="{% url 'management_client_view' client_pk=client.uuid %}"><h4>{{ client.name }}</h4></a></div>
                                <div class="job">{{ client.email }}</div>
                                <div class="desc">{{ client.description }}</div>
                                <div class="view-profile">
                                    
                                </div>
                            </div>                        
                        </div>
                        <div class="card-footer">
                            <div class="row user-stats text-center">
                                <div class="col">
                                    <div class="number">
                                    </div>
                                    <div class="title">Ejercicios</div>
                                </div>
                                <div class="col">
                                    <div class="number">25</div>
                                    <div class="title">Colaboradores</div>
                                </div>
                            </div>
                        </div>                      
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>
</div>

{% endblock content %}